@font-face {
  font-family: 'Brittany';
  src: url('assets/fonts/brittany-signature-script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocomat Pro';
  src: url('assets/fonts/cocomat-pro-regular.ttf') format('truetype');
  font-style: normal;
}

.heading-one {
    /* your styles for the class version-one */
    font-weight: bold;
    font-family: Brittany;
    font-style: italic;
}

.heading-two {
    /* your styles for the class version-two */
    display: block;
    font-size: clamp(1.5rem, 6vw, 5rem);
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #000000;
}

.heading-three {
    display: block;
    font-size: clamp(1.2rem, 4vw, 3rem);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Brittany;
    font-style: italic;
}

.button-62 {
  background: linear-gradient(to bottom right, #a492c4, #a492c4);
  border: 0;
  border-radius: 12px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 5px
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #a492c4, .125rem .125rem 1rem #a492c4;
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #a492c4, .125rem .125rem 1rem #a492c4;
}

.div-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// colors
:root {
  --dark-purple: #745e96;     // Mörk lila
  --default-purple: #a492c4;  // Default lila
  --dark-green: #4e684b;      // Mörkgrön
  --medium-green: #739272;    // Mellangrön
  --light-green: #a7bfa5;     // Ljusgrön
  --test-color: #c9dfc7;     // använd picker
}

body {
  background-color: var(--light-green);
}
.centered {
  text-align: center;
}