<div class="guest-preferences-wrapper">
  @if(guestPreferences){
    <div class="guest-wrapper">
    @for(item of guestPreferences; track item){
      @if(item.registered){
        <h2>Dina anmälda gäster är:</h2>
        <h3>{{item.firstName + ' ' + item.lastName}}</h3> 
        <p>Matpreferens: {{item.foodPreference ? item.foodPreference : 'Ingen preferens'}}</p>
        <p>Allergi: {{item.allergi}}</p>   
      }
    }
    </div>
    @if(numberOfNotRegistered != 0){
      <div class="registration-wrapper">
        <h2>Du kan fortfarande anmäla {{numberOfNotRegistered == 1 ? '1 person' : numberOfNotRegistered + ' personer'}}</h2>
        <button>Klicka här för att anmäla en till person</button>
      </div>
    }
  }
</div>
<button (click)="setGuestPreferences()">Spara anmälan</button>
<button (click)="logout()">Logga ut</button>