<div class="guest-preferences-wrapper div-all">
  @if(registeredGuests.length > 0){
    <div class="guest-wrapper div-all">
    <h2 class="heading-two">Dina anmälda gäster är:</h2>
    @for(guest of registeredGuests; track guest){
      @if(guest.registered && !guest.isEditMode){
        <h3 class="heading-three">{{guest.firstName + ' ' + guest.lastName}}</h3> 
        <p>Matpreferens: {{guest.foodPreference ? guest.foodPreference : 'Ingen preferens'}}</p>
        <p>Allergi: {{guest.allergi ? guest.allergi : 'Ingen allergi anmäld'}}</p>
        <button (click)="unregisterGuest(guest)"
        class="button-62">Avanmäl denna person</button>
        <button (click)="updateGuest(guest)"
        class="button-62">Uppdatera anmälan</button>
      }
      @if(guest.registered && guest.isEditMode){
        <app-registration [guestId]="guest.guestId" [registeredGuest]="guest" (formSubmitted)="onGuestFormSubmit($event)"></app-registration>
      }
    }
    </div>
    @if(idToBeRegistered){
      <app-registration [guestId]="idToBeRegistered" [registeredGuest]="guestTemplate" (formSubmitted)="onGuestFormSubmit($event)"></app-registration>
    }
    @if(notRegisteredGuests.length != 0 && !idToBeRegistered){
      <div class="registration-wrapper div-all">
        <h2 class="heading-two">Du kan fortfarande anmälda dessa personer:</h2>
        @for(guest of notRegisteredGuests; track guest){
          <button (click)="createGuestRegistration(guest)" class="button-62">Anmäl {{guest.firstName + ' ' + guest.lastName}}</button>
        }
      </div>
    }
  }
</div>
<!-- <button (click)="setGuestPreferences()">Spara anmälan</button> -->
<div class="div-all">
  <button (click)="logout()" class="button-62">Logga ut</button>
</div>
