<div class="info-page-wrapper">
    <h2 class="heading-three">
        Information
    </h2>
    På den här sidan har vi samlat information som kan vara bra att veta för dig som gäst. Om du har frågor och inte
    hittar
    svaren här är det bara att höra av sig.

    <h3 class="heading-three">
        Tid
    </h3>
    Vigseln startar kl 13.00, se till att vara på plats innan dess. Efter vigseln blir det migel vid festlokalen och
    runt kl
    17 sätter vi oss till bords för en trevlig middag. När vi är mätta och belåtna drar festen igång och sen kör vi på
    tills
    grannarna vill sova senast 02.



    <h3 class="heading-three">
        Plats
    </h3>
    <div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2157.984594995943!2d15.816137076934323!3d58.4996596771537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465941dece63a215%3A0xba9e6f0a58d16a09!2s%C3%96stra%20Skrukeby%20Kyrka%20Kyrkog%C3%A5rd%20%26%20F%C3%B6rsamlingshem!5e1!3m2!1ssv!2sse!4v1748805340935!5m2!1ssv!2sse"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>
    <br />
    Festen hålls i logen på Handskestad 1, en gård ca 4 km söder om kyrkan.
    <br /><br />
    <div class="map-container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7437.614379332964!2d15.797900340082117!3d58.47238295766215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46596b2e15409e63%3A0xf6d4ad607846ab06!2sHandskestad%20Lantbruk!5e1!3m2!1ssv!2sse!4v1748805454525!5m2!1ssv!2sse"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>

    <h3 class="heading-three">
        Transport
    </h3>
    Om det finns intresse kan vi abonnera en buss som kör från Linköping till kyrkan och sedan till logen. Annars är det
    fritt fram att samåka med varandra i egen bil, taxi eller hästdroska. Eftersom tröttheten kommer vid så olika tider
    så
    får man åka hem på vilket sätt man vill när det känns lagom för en själv.


    <h3 class="heading-three">
        Klädkod kavaj
    </h3>
    För oss är det viktigare att ni vill fira vår dag än hur ni ser ut; vilken färg det är på kostymen eller hur lång
    klänningen är. Den dresscode vi tänker oss är somrig och gärna färgglad! <br>
    Kom gärna i en kostym i valfri färg och slips/fluga, alternarivt en somrig klänning eller annan fin outfit du känner
    dig
    glad i. Uppklätt men inte strikt helt enkelt. Vill man passa in i färgtemat får man väldigt gärna använda sig av
    lila
    och gröna nyanser, men det är inget måste. <br>
    <br>
    Eftersom vi kommer hålla till i en loge är det svårt att reglera temperaturen. Ta gärna med något för att hålla
    värmen
    om det blir kyligt och blåsigt på kvällen. Det kan även vara bra att tänka på skoval, då vi kommer gå på grus och
    betonggolv.


    <h3 class="heading-three">
        Vill du hålla tal under middagen?
    </h3>
    Vi Toastmasters vill gärna veta vilka som vill hålla tal eller bjuda på något annat under middagen. Skicka din
    anmälan
    till <a href="mailto:millagustavtm@gmail.com">millagustavtm&#64;gmail.com</a> med ämnesraden "Talare Milla och Gustavs bröllop".
    I mailet vill vi att du skriver:
    <li>Vilken typ av inslag du tänkt dig: tal, spex eller lek</li>
    <li>En kort beskrivning av vad du tänker det handlar om</li>
    <li>Om du behöver någon rekvisita (projektor, högtalare, etc.)</li>
    <li>Din relation till brudparet</li>

    Vi kommer hålla ganska korta inslag på ca 3-5 minuter, så håll gärna det i åtanke. Icke-anmälda tal kommer icke
    hållas.
    <br>
    Om du har några övriga frågor du vill ställa till oss gör du även det på <a href="mailto:millagustavtm@gmail.com">millagustavtm&#64;gmail.com</a>
    Deadline är samma som för övrig anmälan, så tveka inte för länge! <br>
    Hälsningar TMs Jessika och Christoffer


    <h3 class="heading-three">
        Önskelista
    </h3>
    Det vi önskar oss mest av allt är kvalitetstid och att skapa minnen. Bjud gärna med oss på en upplevelse, en utflykt
    eller loppisrunda, kanske en badutflykt i sommar eller ut och pulsa i snön i vinter? Vi kommer ha en kalender framme
    under minglet som man gärna får fylla i en tidpunkt för aktiviteten.

    För den som vill ge en fysisk gåva så kommer det upp en önskelista på sidan lite senare i juni.

    <h3 class="heading-three">
        Kontakt
    </h3>
    Vid problem med anmälan, förbättringsförslag eller andra frågor om dagen, var god kontakta Gustav på mobilen,  
messenger,  
signal eller skicka mejl till <a href="mailto:millaochgustav@gmail.com">millaochgustav&#64;gmail.com</a>
</div>